<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.layoa.role.dao.RoleDao">

	<sql id="role_base_select">
		SELECT ROW_ID,ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO,ACTIVE_FLAG,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE FROM TB_ROLE WHERE ACTIVE_FLAG = 1
	</sql>

	<insert id="save" parameterType="Role" useGeneratedKeys="true" keyColumn="ROW_ID" keyProperty="rowId">
		INSERT INTO TB_ROLE (ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO,ACTIVE_FLAG,CREATE_BY,CREATE_DATE)
		VALUES(#{roleCode},#{roleName},#{roleKind},#{roleInfo},#{activeFlag},#{createBy},#{createDate})
	</insert>
	
	<select id="findByName"  resultType="Role"  parameterType="Role">
		<include refid="role_base_select"/> AND ROLE_NAME=#{roleName}
	</select>
	
	<select id="findByPage" resultType="Role">
		<include refid="role_base_select"/>
		 LIMIT #{firstResult},#{maxResults}
	</select>
	
	<select id="findAllRole"  resultType="Role">
		<include refid="role_base_select"/>
	</select>
	
	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(ROW_ID) FROM TB_ROLE WHERE ACTIVE_FLAG =1
	</select>
	
	<select id="get" parameterType="Role" resultType="Role">
		<include refid="role_base_select"/> AND ROW_ID = #{rowId}
	</select>
	
	<update id="delete" parameterType="Role">
		UPDATE TB_ROLE SET ACTIVE_FLAG=0 WHERE ROW_ID = #{rowId}
	</update>
	
	<update id="update" parameterType="Role">
		UPDATE TB_ROLE
		<set>
			<if test="roleCode!=null">
				ROLE_CODE = #{roleCode},
			</if>
			<if test="roleName!=null">
				ROLE_NAME = #{roleName},
			</if>
			
			<if test="roleKind!=null">
				ROLE_KIND = #{roleKind},
			</if>
			<if test="roleInfo!=null">
				ROLE_INFO = #{roleInfo},
			</if>
			<if test="updateBy!=null">
				UPDATE_BY = #{updateBy},
			</if>
			<if test="updateDate!=null">
				UPDATE_DATE = #{updateDate},
			</if>
		</set>
		WHERE ROW_ID = #{rowId}
	</update>
	
</mapper>